.heading1{
    @media only screen and (max-width:43.75em) {
        align-self: center;;
        color: $color-white-light;
        text-shadow: inset 10rem 0rem $color-secondary;
    }
    align-self: baseline;
    font-size: 8rem;
    font-family: "Poppins";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .3rem;
    padding-left: 4rem;
    color: darken($color-primary,40%);
}
.form{
    @media only screen and (max-width:43.75em) {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 0;
    }

    display: flex;
    height: 95%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    justify-self: flex-start;
    margin-left: 10rem;

    &__label{
        opacity: 0;
        transform: translate(0,4.5rem);
        color:darken($color-primary,50%);
        font-family: "Roboto"; 
        font-size: 1.8rem;
        font-weight: 600;
        letter-spacing: .2rem;
        transition: all .3s ease-in-out;
        margin-bottom: 2rem;
    }
    &__label[data-isvalid=false]{
        color:rgba(255,0,0,0.6);
        
    }
    &__element[data-isvalid=false],&__element[data-isvalid=false]:focus{
        color:rgba(255,0,0,0.6);
        outline:1px solid rgba(255,0,0,0.6);
    }
    &__element{
        height: 5rem;
        width: 30rem;
        font-size: 1.8rem;
        font-weight: 400;
        letter-spacing: .1rem;
        padding-left: 1rem;
        border: none;
        border-radius: 1.2rem;
    }
    &__element:focus{
        outline: 2px solid $color-primary;
        color: $color-grey-light;
        font-size: 1.5rem;
    }
    &__element:focus::placeholder{
        visibility: hidden;
    }
    &__label:has(+ &__element:focus){
        @media only screen and (max-width:43.75em) {
            color: $color-white-dark;
        }

        display: block;
        opacity: 1;
        transform: translate(0,1rem);
    }
    .btn__group{
        
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 3rem;
        gap: 5rem;
        

        .login,.login:active{
            cursor: pointer;
            text-decoration: none;
            display: grid;
            place-items: center;
            font-size: 1.8rem;
            font-weight: 400;
            height: 2.4em;
            width: 9em;
            background-color: lighten($color-grey-light,40%);
            border-radius: 2rem;
            outline: 1px solid $color-secondary;
            box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
            transition: all .3s ease-in;
            position: relative;
        }
        .login__child{
            position: absolute;
            left: 80%;
            animation: loader 1s  infinite linear ;
        }
        #loader2{
            fill:darken($color-primary,50%);
        }
        .login:focus,.login:hover{
            background-color: lighten($color-grey-light,30%);
            box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.6);
            translate: 0 -.2rem;
        }
        
        .btn,.btn:active{
            cursor: pointer;
            text-decoration: none;
            display: grid;
            place-items: center;
            height: 2.4em;
            width: 9em;
            background: linear-gradient(to bottom right,$color-primary 60%,$color-secondary 90%,$color-tertiary);
            font-size: 1.8rem;
            color: $color-white-light;
            border-radius: 2rem;
            box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.4);
            transition: all .3s ease-in;
            position: relative;

        }
        .btn__child{
            position: absolute;
            left: 80%;
            animation: loader 1s linear infinite;
        }
        #loader1{
            fill:white;
        }
        
        .btn:hover,.btn:focus{
            background-color: darken($color-tertiary,50%);
            box-shadow: 0 1.5rem 4rem rgba(0,0,0,0.6);
            translate: 0 -.2rem;
            outline: 1px solid;
        }
    }
}
.icon{
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 7rem;
    margin-left: 20rem;

    @media only screen and (max-width:43.75em) {
        flex-direction: row;
        margin-left: 0;
        align-items: center;
        justify-content: center;
        gap: 5rem;
        margin-top: -10rem;
    }
    @media only screen and (max-width:28.125em) {
        gap: 1rem;
    }

    &__group{
        cursor: pointer;;
        display: flex;
        align-items: center;
        height: 5.5rem;
        gap: 2rem;
        font-size: 2rem;
        font-family: "Poppins";
        font-weight: 600;
        letter-spacing: .1rem;
        color: $color-white-light;
        padding: 0 2rem;
        border: 1px solid;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,.6);
        transition: all .3s ease-in-out;

        @media only screen and (max-width:28.125em) {
            font-size: 1.5rem;
        }
        @media only screen and (max-width:15.625em) {
            font-size: 1.2rem;
            text-align: center;
        }
    }
    &__facebook,&__google{
        height:3rem;
        width: 3rem;
        fill:#fff;
    }
    &__group:hover{
        background-color: #eee;
        color: darken($color-secondary,50%);
        font-weight: 600;
        translate: 0 -.5rem;
        box-shadow: 0 1.5rem 4rem rgba(0,0,0,.4);
    }
    &__group:hover  &__facebook, &__group:hover &__google{
        fill: darken($color-secondary,50%);
    }
}
