// colour variables
$color-primary : rgba(47, 40, 240, 0.851);
$color-secondary : rgba(47, 40, 240, 0.61);
$color-tertiary : rgba(47, 40, 240, 0.393);

$color-white-light:#eee;
$color-white-dark : #fff;

$color-grey-light:#777;
$color-grey-dark: #888;

// properties
@property --background-percentage{
    syntax: "<percentage>";
    initial-value: 0%;
    inherits: false;
}

*,
*::after,
*::before{
    padding: 0;
    margin: 0;
    box-sizing: inherit;
    transition: all .3s ease-in-out;
}
html{
    font-size: 62.5%;
    @media only screen and (min-width:112.5em) {
        font-size: 100%;
    }
    @media only screen and (max-width:68.75em) {
        font-size: 50%;
    }
    @media only screen and (max-width:56.25em) {
        font-size: 37.5%;
    }
    @media only screen and (max-width:40.625em) {
        font-size: 25%;
    }
}
body{
    background: linear-gradient(120deg,darken($color-primary,50%) var(--background-percentage),#eee var(--background-percentage));
    background-repeat: no-repeat;
    box-sizing: border-box;
    font-family: "Poppins","Roboto",sans-serif;
    animation: backgroundAnimation .4s forwards ease-in-out;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 10rem;
    @media only screen and (max-width:40.625em) {
        justify-content: space-evenly;
    }
}
@keyframes backgroundAnimation {
    to{
        --background-percentage:15%;
    }
}